.App {
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  top: 0;
  width: 100%;
  border-bottom: 2px solid black;
  height: 6rem;
}

.properties-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 82%;
}
.MuiCard-root {
  margin: 5px;
}

.MuiCard-root:hover {
  transform: scale(1.1);
  z-index: 9999;
  transition: transform 0.2s ease-in-out;
}

.map-comp-holder {
  margin-top: 2rem;
  padding-left: 20px;
  padding-right: 20px;
}

.lng-lat-holder {
  display: flex;
  justify-content: center;
  column-gap: 100px;
}

.lng-lat-holder div {
  flex: 1;
}

.map-container {
  margin-top: 2vh;
  height: 68vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:hover {
  color: rgba(137, 43, 226, 0.52);
}

.nav-container {
  display: flex;
  padding: 0 30px;
  background: #8080809e;
  column-gap: 20px;
  color: white;
}
